.box{
    /* border:2px solid red; */

    background: #d8b4d1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e5e7d9, #6617c0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e7e8dc, #43C6AC); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    
    width:580px;
    height: 700px;
    border-radius: 80px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
    

}
.ppp{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.outerdiv{
    display: flex;
    justify-content: center;
        
}

h3,label{
    font-family: poppins; 
}
